<html>

<head>
	<title>Entreprise - Draft</title>
	<meta name="description" content="" />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= stylesheet_link_tag "portal" %>

</head>

<body class="ui_enterprise has-header header-enterprise">

	<div id="top-of-site-pixel-anchor"></div>

<header class="main-header">
	<input type="checkbox" id="btnBurgerMenu" name="burger-menu-visibility">
	<label for="btnBurgerMenu" class="burger-btn">
		<span class="wrapper">
			<span class="deco-btn-burger"></span>
			<span class="deco-btn-burger"></span>
			<span class="deco-btn-burger"></span>
		</span>
	</label>
	<nav class="nav">
		<a class="logo text-link" href="/fr/"><img src="<%= image_path("site/logo-diag-orange-plus-text.png") %>" alt="Logo Draft"></a>
		<ul>
			<li>
				<div class="toggle-wrapper text-link">
					<div class="toggle">
						<!-- Workflows <i class="fas fa-chevron-down"></i> -->
						<span class="selected">Workflows <i class="fas fa-chevron-down"></i></span>
						<span class="neutral">Workflows <i class="fas fa-chevron-down"></i></span>
					</div>
					<ul class="menu">
						<li><a class="text-link" href="/fr/agile-project-management">Gestion de projet Agile</a></li>
						<li><a class="text-link" href="/fr/product-management">Product Management</a></li>
						<li><a class="text-link" href="/fr/everyday-creative-work">Travail créatif quotidien</a></li>
					</ul>
				</div>
			</li>
			<li class="page-enterprise-li"><a class="text-link" href="/fr/enterprise">
				<!-- Entreprise -->
				<span class="selected">Entreprise</span>
				<span class="neutral">Entreprise</span>
			</a></li>
			<li class="page-customer-stories-li"><a class="text-link" href="/fr/customer-stories/sncf-transforming-customer-experience-with-user-story-mapping">
				<!-- Customer stories -->
				<span class="selected">Customer stories</span>
				<span class="neutral">Customer stories</span>
			</a></li>
			<li class="page-examples-li"><a class="text-link" href="/fr/examples">
				<!-- Exemples -->
				<span class="selected">Exemples</span>
				<span class="neutral">Exemples</span>
			</a></li>
			<li class="page-pricing-li"><a class="text-link" href="/fr/pricing">
				<!-- Offres -->
				<span class="selected">Offres</span>
				<span class="neutral">Offres</span>
			</a></li>
			<li class="login"><a class="text-link" href="/fr/login">
				<!-- Se connecter -->
				<span class="selected">Se connecter</span>
				<span class="neutral">Se connecter</span>

			</a></li>
			<li class="signup"><a class="cta" href="/fr/get-started">
				<!-- S'inscrire -->
				<span class="selected">S'inscrire</span>
				<span class="neutral">S'inscrire</span>
			</a></li>
		</ul>

		<!-- <a class="fav" href="/">d</a> -->
		<!-- <a class="fav-sheet" href="/">d</a> -->
	</ul>
</header>

<script>
	document.ontouchstart = function (e) {
		e.stopPropagation();
	}
</script>

	<section class="bloc-landing">
		<div class="deco-background">
			<img src="<%= image_path("site/UI_Enterprise/ui_enterprise_landing_deco_grid_left.png") %>" alt="deco">
			<img src="<%= image_path("site/UI_Enterprise/ui_enterprise_landing_deco_grid_right.png") %>" alt="deco">
		</div>
		<h1>Draft pour Entreprises</h1>
		<p class="intro-text">
			L’environnement collaboratif idéal pour résoudre vos problèmes collectivement,<br />rationaliser le processus de prise de décision et coordonner vos équipes visuellement.
		</p>
		<a href="mailto:hi@draft.io?subject=Je souhaite contacter votre équipe commerciale" class="cta round light dark-over">
			<i class="fas fa-chevron-right"></i>Contactez-nous
		</a>
	</section>

	<section class="screenshots-slider s1">
		<div class="wrapper">
			<img class="s1" src="<%= image_path("site/UI_Enterprise/screenshot_enterprise_Axa.jpg") %>" alt="Capture Draft Axa">
			<img class="s2" src="<%= image_path("site/UI_Enterprise/screenshot_enterprise_Air_France.jpg") %>"
				alt="Capture Draft Air France">
			<img class="s3" src="<%= image_path("site/UI_Enterprise/screenshot_enterprise_Altran.jpg") %>" alt="Capture Draft Altran">

			<nav>
				<ul class="slider-btns">
					<li><button class="btn bullet active"></button></li>
					<li><button class="btn bullet"></button></li>
					<li><button class="btn bullet"></button></li>
				</ul>
			</nav>
		</div>
		<h3 class="legend">
			<span class="s1">Event Modelling par Emmanuel Lehmann, Coach DevOps Agile & Craft chez Axa</span>
			<span class="s2">PI Planning Portal par Guillaume Decousser, Project Management chez Air France</span>
			<span class="s3">Design System par Cyril Bissonnier, Product Owner/UX Design Consultant chez Altran</span>
		</h3>
	</section>

	<section class="companies">
		<h2>Ils nous font confiance</h2>
		<ul>
			<li><img src="<%= image_path("site/UI_Enterprise/logo_axa.png") %>" alt="Logo Axa"></li>
			<li><img src="<%= image_path("site/UI_Enterprise/logo_sncf.png") %>" alt="Logo SNCF"></li>
			<li><img src="<%= image_path("site/UI_Enterprise/logo_enedis.png") %>" alt="Logo Enedis"></li>
			<li><img src="<%= image_path("site/UI_Enterprise/logo_tui.png") %>" alt="Logo TUI"></li>
		</ul>
	</section>

	<section class="ready-to-deploy">
		<h2>Prêt à être déployé dans votre entreprise</h2>
		<div class="wrapper">
			<ul class="row">
				<li class="feature">
					<h3 class="name"><i class="fas fa-key"></i> SSO compatible SAML 2.0</h3>
					<p class="description">
						Le système d’administration de votre Team Draft peut se connecter avec n’importe quel fournisseur d’identité compatible SAML 2.0.
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><a class="text-link"
						href="https://www.notion.so/How-does-a-Team-work-6766f11d356043dda5092334ec86fef0"><i
							class="fas fa-unlock-alt"></i> Gestion fine des droits d’accès et de partage <i
							class="fas fa-long-arrow-alt-right"></i></a></h3>
					<p class="description">
						Un système de dossiers partagés et de rôles vous permet de contrôler précisément qui vous souhaitez impliquer et dans quelle mesure.
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><i class="fas fa-tasks"></i> Accompagnement dédié</h3>
					<p class="description">
						Nous pouvons vous accompagner pas à pas dans le déploiement de Draft au sein de vos équipes. Des formations gratuites sont offertes sur demande.
					</p>
				</li>
			</ul>
			<ul class="row">
				<li class="feature">
					<h3 class="name"><i class="fas fa-server"></i> Serveur dédié</h3>
					<p class="description">
						Nous avons la possibilité d’héberger votre propre instance de Draft sur un serveur dédié à votre entreprise.
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><a class="text-link"
							href="https://www.notion.so/Introduction-to-the-Jira-integration-9e0f4b934e794b1481a2bdab7315e399"><i
								class="fab fa-jira"></i> Intégration Jira <i
								class="fas fa-long-arrow-alt-right"></i></a></h3>
					<p class="description">
						Vous pouvez fluidifier l’ensemble de votre processus Agile de gestion de projet en bénéficiant gratuitement de l’intégration Draft-Jira symétrique et temps réel.
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><i class="fab fa-windows"></i> Ponts avec Azure DevOps</h3>
					<p class="description">
						Un système d’import/export vous permet d’échanger aisément des données entre Draft et Azure DevOps.
					</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="customer-story">
		<h2>Customer Story à la une</h2>
		<div class="wrapper">
			<div class="story-bloc">
				<div class="left-side">
					<div class="picto-deco">
						“
						<!-- <i class="fas fa-quote-right"></i> -->
					</div>
				</div>
				<div class="right-side">
					<blockquote>“Aider les collaborateurs et les parties prenantes à parler le même langage”</blockquote>
					<div class="customer-info">
						<img class="logo" src="<%= image_path("site/UI_Enterprise/logo_sncf.png") %>" alt="Logo SNCF">
						<img class="portrait" src="<%= image_path("site/UI_Enterprise/Mohamed_Moussa_SNCF.jpg") %>"
							alt="Photo Mohamed Moussa">
						<p class="customer-details">
							<span class="name">Mohamed MOUSSA</span>
							<span class="status">Scrum Master / Coach Agile<br>chez e-Voyageurs SNCF</span>
						</p>
					</div>
					<a href="customer-stories/sncf-transforming-customer-experience-with-user-story-mapping" class="text-link">Découvrez la Customer Story <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
			<figure class="illustration">
				<img src="<%= image_path("site/UI_Enterprise/customer_story_illustration_sncf.jpg") %>" alt="">
			</figure>
			<!--
			<a href="/cs_e_voyageurs" class="text-link"><img src="<%= image_path("site/UI_Enterprise/picto_galery.svg") %>"
					alt="Picto deco user stories listing">Découvrez d’autres Customer Stories</a>
			-->
		</div>
	</section>

	<section class="safety-features">
		<div class="picto-deco"><i class="fas fa-shield-alt"></i></div>
		<h2>Nous veillons à la protection de vos données</h2>
		<div class="wrapper">
			<ul>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Hébergeur certifié ISO 27001, SOC 1, et SOC 2
					</button>
					<p class="description">
						Vos données sont hébergées en France, chez OVH, qui maintient les plus haut niveaux de certification en matière de sécurité.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Filtre IP
					</button>
					<p class="description">
						Nous pouvons filtrer par IP l’accès aux données de votre Team. C’est une façon efficace de prévenir toute fuite de données en dehors de votre organisation.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Données cryptées en transit et au repos
					</button>
					<p class="description">
						Nous utilisons le protocole HTTPS au standard TLSv1.2 (ou supérieur) pour protéger vos données en transit et le protocole de chiffrement AES 256 pour protéger vos données au repos.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Archivage de tous les logs de connexion
					</button>
					<p class="description">
						Nous pouvons vous fournir les logs de connexion relatifs à votre instance Draft sur demande. Vous pouvez ainsi nourrir automatiquement votre système d’alerte.
					</p>
				</li>
			</ul>
			<ul>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Contrôle de domaine
					</button>
					<p class="description">
						Nous pouvons restreindre l’accès aux données de votre Team à des adresses email liées à seulement certains noms de domaine.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Test de sécurité périodique
					</button>
					<p class="description">
						Des tests de sécurité (penetration test) sont effectués périodiquement par des experts de premier plan. Les rapports d’audit peuvent être consultés sur demande.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Partage public restreint
					</button>
					<p class="description">
						Vous pouvez désactiver le partage de draft par lien public pour prévenir toute fuite de données en dehors de votre organisation.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Processus de backup régulier
					</button>
					<p class="description">
						Des backups quotidiens sont effectués sur un serveur géographiquement séparé des serveurs de production.
					</p>
				</li>
			</ul>
		</div>

	</section>

	<section class="credibility-labels">
		<div class="wrapper">
			<div class="label-group">
				<img src="<%= image_path("site/UI_Enterprise/logo_syntec_numerique.png") %>" alt="Logo Syntec numérique">
				<p class="legend">
					Membre du syndicat professionnel <a class="unsecable text-link underline-over" href="https://syntec-numerique.fr/">Syntec Numerique</a>.
				</p>
			</div>
			<div class="separator"></div>
			<div class="label-group">
				<img src="<%= image_path("site/UI_Enterprise/logo_ovh_startup_program.png") %>" alt="Logo OVHCloud Startup Program">
				<p class="legend">
					Soutenu par OVH dans le cadre de l'<a class="unsecable text-link underline-over" href="https://startup.ovhcloud.com/en/">OVHcloud Startup Program</a>
				</p>
			</div>
		</div>
	</section>

	<div class="bloc-last">
	<div class="left-visual">
		<div class="rotated-square"></div>
	</div>
	<div class="title">Démarrez dès aujourd’hui</div>
	<form class="signup-bloc" action="/fr/get-started">
	<div class="form-wrapper">
		<input placeHolder="Entrez votre email" name="pre_email"></input>
		<div class="submit-wrapper">
			<div class="triangle"></div>
			<input type="submit" class="register cta" value="S'inscrire" />
		</div>
	</div>
	<div class="if-1080">
		<div class="detail">Notre plan gratuit est illimité dans le temps et vous donne accès à toutes les fonctionnalités du <a href="/fr/pricing">plan Pro</a>.</div>
	</div>
	<div class="if-not-1080">
		<div class="detail">Notre plan gratuit est illimité dans le temps<br />et vous donne accès à toutes les fonctionnalités du <a href="/fr/pricing">plan Pro</a>.</div>
	</div>
</form>
	<!-- <a class="cta-border cta-border-darkblue" style="margin-left:40px;" href="/agile_project_management">Discover how Scrum Masters use Draft</a> -->
</div>
	<div class="footer">
	<div class="footer-wrapper">
		<div class="bloc bloc-plan">
			<div class="title">Produit</div>
			<a href="/fr/">Accueil</a>
			<a href="/fr/agile-project-management">Draft pour la gestion de projet Agile</a>
			<a href="/fr/product-management">Draft pour le Product Management</a>
			<a href="/fr/everyday-creative-work">Draft pour le travail créatif quotidien</a>
			<a href="/fr/examples">Exemples</a>
			<a href="/fr/login">Se connecter</a>
			<a href="/fr/get-started">S'inscrire</a>
		</div>

		<div class="bloc bloc-resources">
			<div class="title">Client</div>
			<a href="/fr/enterprise">Entreprise</a>
			<a href="/fr/customer-stories/sncf-transforming-customer-experience-with-user-story-mapping">Customer stories</a>
			<a href="/fr/pricing">Offres</a>
		</div>

		<div class="bloc bloc-resources">
			<div class="title">Ressources</div>
			<a href="https://www.notion.so/Draft-s-Help-Center-cc9934be1af04688954d1d077ad004aa"
				target="_blank">Centre d'aide</a>
			<a href="https://draft.io/assets/2020 10 27 Terms and conditions - Draft SAS.pdf"
				target="_blank">Termes</a>
			<a href="https://draft.io/assets/2020 10 27 Privacy Policy - Draft SAS.pdf" target="_blank">Sécurité et confidentialité</a>
			<a href="mailto:hi@draft.io">Contactez-nous</a>

			<div class="language-bloc">
				<div class="bloc-title">Langue</div>
				<div class="menu-wrapper">
					<div class="toggle-wrapper">
						<div class="toggle">Française</div>
						<div class="dropdown-invite"></div>
					</div>
					<div class="menu">
						<a
							href="<%= @fr_url %>">Français</a>
						<a
							href="<%= @en_url %>">English</a>
					</div>
				</div>
			</div>
		</div>

		<div class="socials">
			<a href="/" class="logo"></a>
			<a href="https://linkedin.com/company/draft-io" class="linkedin" target="_blank"></a>
		</div>

		<div class="copyright">
			Copyright © 2019 - 2021 • Draft SAS
		</div>
	</div>


	<div class="oblique">
		<div class="rotated-square"></div>
	</div>
</div>

<script src="https://kit.fontawesome.com/6b4515f4ac.js" crossorigin="anonymous"></script>

	<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
					m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', "UA-144558715-1", 'auto');
		ga('send', 'pageview');

	</script>

	<script>
		if (
			"IntersectionObserver" in window &&
			"IntersectionObserverEntry" in window &&
			"intersectionRatio" in window.IntersectionObserverEntry.prototype
		) {
			let observer = new IntersectionObserver(entries => {
				if (entries[0].boundingClientRect.y < 0) {
					document.body.classList.add("header-not-at-top");
				} else {
					document.body.classList.remove("header-not-at-top");
				}
			});
			observer.observe(document.querySelector("#top-of-site-pixel-anchor"));
		}
	</script>

	<script>

		// ==========================
		// SLIDER INTERACTIONS SYSTEM
		// ==========================

		let activeSlideIndex = 1;
		let timerSlider;
		const sliderBntsList = document.querySelector('.slider-btns');

		function launchSlider() {
			clearInterval(timerSlider)
			timerSlider = setInterval(function () {
				activeSlideIndex += 1;
				if (activeSlideIndex > sliderBntsList.children.length) { activeSlideIndex = 1 }
				document.querySelector('.screenshots-slider .btn.bullet.active').classList.remove('active');
				document.querySelector('.screenshots-slider').classList.remove('s1', 's2', 's3');
				document.querySelector('.screenshots-slider').classList.add('s' + activeSlideIndex);
				sliderBntsList.children[activeSlideIndex - 1].children[0].classList.add('active');
			}, 5000)
		}

		launchSlider()

		for (let i = 0, len = sliderBntsList.children.length; i < len; i++) {
			sliderBntsList.children[i].onclick = function () {
				document.querySelector('.screenshots-slider .btn.bullet.active').classList.remove('active');
				document.querySelector('.screenshots-slider').classList.remove('s1', 's2', 's3');
				document.querySelector('.screenshots-slider').classList.add('s' + (i + 1));
				this.children[0].classList.add('active');
				launchSlider();
			}
		}

		// ==========================
		// end of SLIDER INTERACTIONS SYSTEM
		// ==========================

		// ==========================
		// SAFETY BTNS BEHAVIORS
		// ==========================

		let securityBulletPoints = document.querySelectorAll(".safety-features .display-btn");

		for (let i = 0; i < securityBulletPoints.length; i++) {
			securityBulletPoints[i].onclick = function () {
				this.parentNode.classList.toggle('active');
			}
		}

		// ==========================
		// end of SAFETY BTNS BEHAVIORS
		// ==========================

	</script>


</body>

</html>