<html lang="<%= @lang.code %>">
	<head>
		
		<% if JSON_CONFIG["google-tag-manager"] %>
			<%= render "partials/google_tag_manager_head" %>
		<% end %>
		
		<title>
		
		
		<%= @example["label"] %> - <%= @lang.example.examples %> - Draft
		
		</title>
		
		<meta name="description" content="<%= @lang.example.pageDescription.gsub('&&example&&', @example["label"]) %>" />
		
		
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="/favicon.png?v=5" />
		
		<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/fr/example/<%= @example["id"].gsub(/_/, '-') %>" 
			hreflang="x-default" />
		<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/example//<%= @example["id"].gsub(/_/, '-') %>" 
		  hreflang="en-GB" />
		<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/example/<%= @example["id"].gsub(/_/, '-') %>" 
		  hreflang="en-US" />
		<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/fr/example/<%= @example["id"].gsub(/_/, '-') %>" 
			hreflang="fr-FR" />
		<% if @lang.code == 'en' %>
			<link rel="canonical" href="<%= JSON_CONFIG['host'] %>/example/<%= @example["id"].gsub(/_/, '-') %>">
		<% else %>
			<link rel="canonical" href="<%= JSON_CONFIG['host'] %>/fr/example/<%= @example["id"].gsub(/_/, '-') %>">
		<% end %>
		

			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<%= stylesheet_link_tag "portal" %><link rel="icon" href="/favicon.png?v=6" />
	</head>
	<body class="dark has-header example lang-fr has-header header-examples"><!-- lang-code -->
		
		<% if JSON_CONFIG["google-tag-manager"] %>
			<%= render "partials/google_tag_manager_body" %>
		<% end %>
		
		
		<div id="top-of-site-pixel-anchor"></div>

<header class="main-header">
	<input type="checkbox" id="btnBurgerMenu" name="burger-menu-visibility">
	<label for="btnBurgerMenu" class="burger-btn">
		<span class="wrapper">
			<span class="deco-btn-burger"></span>
			<span class="deco-btn-burger"></span>
			<span class="deco-btn-burger"></span>
		</span>
	</label>
	<nav class="nav">
		<a class="logo text-link" href="/"><img src="<%= image_path("site/logo-diag-orange-plus-text.png") %>" alt="Logo Draft"></a>
		<ul>
			<li>
				<div class="toggle-wrapper text-link">
					<div class="toggle">
						<!-- Workflows <i class="fas fa-chevron-down"></i> -->
						<span class="selected">Workflows <i class="fas fa-chevron-down"></i></span>
						<span class="neutral">Workflows <i class="fas fa-chevron-down"></i></span>
					</div>
					<ul class="menu">
						<li><a class="text-link" href="/agile-project-management">Agile Project Management</a></li>
						<li><a class="text-link" href="/product-management">Product Management</a></li>
						<li><a class="text-link" href="/everyday-creative-work">Everyday Creative Work</a></li>
					</ul>
				</div>
			</li>
			<li class="page-enterprise-li"><a class="text-link" href="/enterprise">
				<!-- Enterprise -->
				<span class="selected">Enterprise</span>
				<span class="neutral">Enterprise</span>
			</a></li>
			<li class="page-customer-stories-li"><a class="text-link" href="/customer-stories">
				<!-- Customer stories -->
				<span class="selected">Customer stories</span>
				<span class="neutral">Customer stories</span>
			</a></li>
			<li class="page-examples-li"><a class="text-link" href="/examples">
				<!-- Examples -->
				<span class="selected">Examples</span>
				<span class="neutral">Examples</span>
			</a></li>
			<li class="page-pricing-li"><a class="text-link" href="/pricing">
				<!-- Pricing -->
				<span class="selected">Pricing</span>
				<span class="neutral">Pricing</span>
			</a></li>
			<li class="login"><a class="text-link" href="/login">
				<!-- Sign in -->
				<span class="selected">Sign in</span>
				<span class="neutral">Sign in</span>

			</a></li>
			<li class="signup"><a class="cta" href="/get-started">
				<!-- Sign up -->
				<span class="selected">Sign up</span>
				<span class="neutral">Sign up</span>
			</a></li>
		</ul>

		<!-- <a class="fav" href="/">d</a> -->
		<!-- <a class="fav-sheet" href="/">d</a> -->
	</ul>
</header>

<script>
	document.ontouchstart = function (e) {
		e.stopPropagation();
	}
</script>

		<div class="content">
			<div class="wrapper">
				<div class="ariane">
					
					<% if @lang.code != 'en' %>
						<a href="/<%= @lang.code %>/examples"><%= @lang.example.examples %></a>
					<% else %>
						<a href="/examples">Examples</a>
					<% end %>
					
					
					<div class="separator">></div>
					<div class="current">
						
						
						<%= @example["label"] %>
						
					</div>
				</div>

				<div class="bloc-top">
					<h1>
						
						
						<%= @example["label"] %>
						
					</h1>
					<div class="bloc-cta">
						<div class="cta-border">
							
							
							<%= @lang.example.cta %>
							
						</div>
						<div class="no-account-required">
							
							
							<%= @lang.example.asterisk %>
							
						</div>
					</div>
				</div>
				
				
				<img class="screenshot" src="<%= image_path("site/examples/en/full/example-" + @example["id"] + ".png") %>" alt="<%= @example["label"] %> example" />
				
				<div class="bloc-bottom">
					<a class="previous" href="<%= @previous_href %>">
						
						
						← <%= @previous["label"] %>
						
					</a>
					<a class="next" href="<%= @next_href %>">
						
						
						<%= @next["label"] %> →
						
					</a>
				</div>
			</div>
		</div>

	<script src="https://kit.fontawesome.com/6b4515f4ac.js" crossorigin="anonymous"></script>

	<script>
	if (
	  "IntersectionObserver" in window &&
	  "IntersectionObserverEntry" in window &&
	  "intersectionRatio" in window.IntersectionObserverEntry.prototype
	) {
	let observer = new IntersectionObserver(entries => {
	  if (entries[0].boundingClientRect.y < 0) {
	    document.body.classList.add("header-not-at-top");
	  } else {
	    document.body.classList.remove("header-not-at-top");
	  }
	});
	observer.observe(document.querySelector("#top-of-site-pixel-anchor"));
	}
	</script>
	
	
	<script>
	document.querySelector('.bloc-cta .cta-border').addEventListener('pointerdown', function() {
		window.location.href = "/example/create/<%= @example["id"] %>";
	});
	</script>
	

	 
  <% if Rails.env == "production" && JSON_CONFIG['ga'] %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', "<%= JSON_CONFIG['ga'] %>", 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>
  
	</body>
</html>