	<html lang="fr">
		<head>
			
			<% if JSON_CONFIG["google-tag-manager"] %>
				<%= render "partials/google_tag_manager_head" %>
			<% end %>
			

			<title>Draft pour le Product Management</title>
			<meta name="description" content="Pour les Product Managers, Designers et Développeurs, Draft est un environnement parfait pour réaliser le product discovery, affiner votre réflexion stratégique et partager vos roadmaps." />
			
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<%= stylesheet_link_tag "portal" %>

			<link rel="icon" href="/favicon.png?v=5" />

			
			<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/fr/<%= @workflow %>" 
				hreflang="x-default" />
			<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/<%= @workflow %>" 
			  hreflang="en-GB" />
			<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/<%= @workflow %>" 
			  hreflang="en-US" />
			<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/fr/<%= @workflow %>" 
				hreflang="fr-FR" />
			<% if @lang.code == 'en' %>
				<link rel="canonical" href="<%= JSON_CONFIG['host'] %>/<%= @workflow %>">
			<% else %>
				<link rel="canonical" href="<%= JSON_CONFIG['host'] %>/fr/<%= @workflow %>">
			<% end %>
			

		</head>
		<body class="dark has-header workflow product-management">
			
			<% if JSON_CONFIG["google-tag-manager"] %>
				<%= render "partials/google_tag_manager_body" %>
			<% end %>
			

			<div id="top-of-site-pixel-anchor"></div>

<header class="main-header">
	<input type="checkbox" id="btnBurgerMenu" name="burger-menu-visibility">
	<label for="btnBurgerMenu" class="burger-btn">
		<span class="wrapper">
			<span class="deco-btn-burger"></span>
			<span class="deco-btn-burger"></span>
			<span class="deco-btn-burger"></span>
		</span>
	</label>
	<nav class="nav">
		<a class="logo text-link" href="/fr/"><img src="<%= image_path("site/logo-diag-orange-plus-text.png") %>" alt="Logo Draft"></a>
		<ul>
			<li>
				<div class="toggle-wrapper text-link">
					<div class="toggle">Workflows <i class="fas fa-chevron-down"></i></div>
					<ul class="menu">
						<li><a class="text-link" href="/fr/agile-project-management">Gestion de projet Agile</a></li>
						<li><a class="text-link" href="/fr/product-management">Product Management</a></li>
						<li><a class="text-link" href="/fr/everyday-creative-work">Travail créatif quotidien</a></li>
					</ul>
				</div>
			</li>
			<li><a class="text-link" href="/fr/enterprise">Entreprise</a></li>
			<li><a class="text-link" href="/fr/customer-stories/sncf-transforming-customer-experience-with-user-story-mapping">Customer stories</a></li>
			<li><a class="text-link" href="/fr/examples">Exemples</a></li>
			<li><a class="text-link" href="/fr/pricing">Offres</a></li>
			<li class="login"><a class="text-link" href="/fr/login">Se connecter</a></li>
			<li class="signup"><a class="cta" href="/fr/get-started">S'inscrire</a></li>
		</ul>

		<!-- <a class="fav" href="/">d</a> -->
		<!-- <a class="fav-sheet" href="/">d</a> -->
	</ul>
</header>

<script>
	document.ontouchstart = function (e) {
		e.stopPropagation();
	}
</script>

			<div class="bloc-landing">
				<div class="wrapper">
					<div class="punchline">Draft pour<br /><span>le Product Management</span></div>
					<div class="if-not-1080"><div class="illu"></div></div>
					<div class="baseline">Exposez les problèmes rencontrés par vos utilisateurs, explorez les opportunités et visualisez les solutions possibles tout en impliquant votre équipe à chaque étape.</div>
					<!-- <div class="baseline">Draft est un environnement idéal pour réaliser des recherches produit et marché, investiguer le comportement de ses utilisateurs et partager sa roadmap produit.</div> -->
				</div>
				<div class="if-1080"><div class="illu"></div></div>
			</div>

			<div class="ucs">
					<div class="uc uc-product-discovery">
							<div class="top-left-corner"><div class="circle"></div></div>

							<div class="wrapper">
								<div class="if-1080">
									<div class="text-container">
										<div class="visual-artifact"></div>
										<div class="text-wrapper">
											<div class="title">Product Discovery</div>
											<div class="text">Collectez de l’information au sujet de votre marché, vos utilisateurs et vos concurrents. Transformez ces informations hétérogènes en connaissance décisive pour déterminer si oui, pourquoi et comment votre produit doit être développé.</div>
											<div class="if-1080">
													<a href="/example/product-discovery">
													Découvrez cet exemple →
												</a>
											</div>
										</div>
									</div>
									<div class="screenshot-wrapper">
										<div class="screenshot"></div>
									</div>
								</div>
								<div class="if-not-1080">
									<div class="screenshot"></div>
									<div class="text-container">
										<div class="visual-artifact"></div>
										<div class="text-wrapper">
											<div class="title">Product Discovery</div>
											<div class="text">Collectez de l’information au sujet de votre marché, vos utilisateurs et vos concurrents. Transformez ces informations hétérogènes en connaissance décisive pour déterminer si oui, pourquoi et comment votre produit doit être développé.</div>
											<div class="if-1080">
													<a href="/example/product-discovery">
													Découvrez cet exemple →
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="uc uc-prioritizing">

							<div class="wrapper">
								<div class="if-1080">
									<div class="text-container">
										<div class="visual-artifact"></div>
										<div class="text-wrapper">
											<div class="title">Table des Hypothèses</div>
											<div class="text">Utilisez Draft pour travailler sur divers cadres de priorisation, traiter les risques identifiés en amont et, in fine, prendre de meilleures décisions.</div>
											<div class="if-1080">
													<a href="/example/defining-and-prioritizing-hypothesis-statements">
													Découvrez cet exemple →
												</a>
											</div>
										</div>
									</div>
									<div class="screenshot-wrapper">
										<div class="screenshot"></div>
									</div>
								</div>
								<div class="if-not-1080">
									<div class="screenshot"></div>
									<div class="text-container">
										<div class="visual-artifact"></div>
										<div class="text-wrapper">
											<div class="title">Table des Hypothèses</div>
											<div class="text">Utilisez Draft pour travailler sur divers cadres de priorisation, traiter les risques identifiés en amont et, in fine, prendre de meilleures décisions.</div>
											<div class="if-1080">
													<a href="/example/defining-and-prioritizing-hypothesis-statements">
													Découvrez cet exemple →
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="uc uc-user-flow">

							<div class="wrapper">
								<div class="if-1080">
									<div class="text-container">
										<div class="visual-artifact"></div>
										<div class="text-wrapper">
											<div class="title">Parcours Utilisateur</div>
											<div class="text">Cartographiez les trajets de vos utilisateurs et projetez-vous dans leur expérience tout en favorisant la communication au sein de votre équipe.</div>
											<div class="if-1080">
													<a href="/example/user-flow">
													Découvrez cet exemple →
												</a>
											</div>
										</div>
									</div>
									<div class="screenshot-wrapper">
										<div class="screenshot"></div>
									</div>
								</div>
								<div class="if-not-1080">
									<div class="screenshot"></div>
									<div class="text-container">
										<div class="visual-artifact"></div>
										<div class="text-wrapper">
											<div class="title">Parcours Utilisateur</div>
											<div class="text">Cartographiez les trajets de vos utilisateurs et projetez-vous dans leur expérience tout en favorisant la communication au sein de votre équipe.</div>
											<div class="if-1080">
													<a href="/example/user-flow">
													Découvrez cet exemple →
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="uc uc-product-roadmap">

							<div class="wrapper">
								<div class="if-1080">
									<div class="text-container">
										<div class="visual-artifact"></div>
										<div class="text-wrapper">
											<div class="title">Roadmap Produit</div>
											<div class="text">Établissez votre stratégie produit et ancrez vos objectifs stratégiques sur un support qui s’adapte à votre vision, puis partagez votre roadmap produit avec toutes les parties prenantes concernées.</div>
											<div class="if-1080">
													<a href="/example/product-roadmap">
													Découvrez cet exemple →
												</a>
											</div>
										</div>
									</div>
									<div class="screenshot-wrapper">
										<div class="screenshot"></div>
									</div>
								</div>
								<div class="if-not-1080">
									<div class="screenshot"></div>
									<div class="text-container">
										<div class="visual-artifact"></div>
										<div class="text-wrapper">
											<div class="title">Roadmap Produit</div>
											<div class="text">Établissez votre stratégie produit et ancrez vos objectifs stratégiques sur un support qui s’adapte à votre vision, puis partagez votre roadmap produit avec toutes les parties prenantes concernées.</div>
											<div class="if-1080">
													<a href="/example/product-roadmap">
													Découvrez cet exemple →
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
			</div>

			<div class="section bloc-features">
				<div class="title">Des fonctionnalités conçues pour développer de meilleurs produits, plus rapidement</div>

				<div class="features">
						<div class="feature lists">
								<div class="illu"></div>
								<div class="label">Listes</div>
								<div class="detail">Notez vos idées à la chaîne et organisez vos documents intuitivement avec des listes protéiformes. </div>
						</div>
						<div class="feature unified-living-environment">
								<div class="illu"></div>
								<div class="label">Un environnement unifié et évolutif</div>
								<div class="detail">Draft forme un univers unifié et évolutif au sein duquel vos projets peuvent prendre forme au fur et à mesure.</div>
						</div>
						<div class="feature right-level-of-focus">
								<div class="illu"></div>
								<div class="label">Toujours le bon niveau de détail</div>
								<div class="detail">Fragmentez et associez différentes types et niveaux d’information afin d’éclaircir votre réflexion et aider vos prises de décision.</div>
						</div>
						<div class="feature folder-sharing">
								<div class="illu"></div>
								<div class="label">Partage de dossiers</div>
								<div class="detail">Créez des dossiers et partagez-les avec d’autres utilisateurs pour impliquer toute votre équipe sur un même projet.</div>
						</div>
				</div>
			</div>

			<div class="bloc-last">
	<div class="left-visual">
		<div class="rotated-square"></div>
	</div>
	<div class="title">Démarrez dès aujourd’hui</div>
	<form class="signup-bloc" action="/fr/get-started">
	<div class="form-wrapper">
		<input placeHolder="Entrez votre email" name="pre_email"></input>
		<div class="submit-wrapper">
			<div class="triangle"></div>
			<input type="submit" class="register cta" value="S'inscrire" />
		</div>
	</div>
	<div class="if-1080">
		<div class="detail">Notre plan gratuit est illimité dans le temps et vous donne accès à toutes les fonctionnalités du <a href="pricing">plan Pro</a>.</div>
	</div>
	<div class="if-not-1080">
		<div class="detail">Notre plan gratuit est illimité dans le temps<br />et vous donne accès à toutes les fonctionnalités du <a href="pricing">plan Pro</a>.</div>
	</div>
</form>
	<!-- <a class="cta-border cta-border-darkblue" style="margin-left:40px;" href="/agile_project_management">Discover how Scrum Masters use Draft</a> -->
</div>
			<div class="footer">
	<div class="footer-wrapper">
		<div class="bloc bloc-plan">
			<div class="title">Produit</div>
			<a href="/fr/">Accueil</a>
			<a href="/fr/agile-project-management">Draft pour la gestion de projet Agile</a>
			<a href="/fr/product-management">Draft pour le Product Management</a>
			<a href="/fr/everyday-creative-work">Draft pour le travail créatif quotidien</a>
			<a href="/fr/examples">Exemples</a>
			<a href="/fr/login">Se connecter</a>
			<a href="/fr/get-started">S'inscrire</a>
		</div>

		<div class="bloc bloc-resources">
			<div class="title">Client</div>
			<a href="/fr/enterprise">Entreprise</a>
			<a href="/fr/customer-stories/sncf-transforming-customer-experience-with-user-story-mapping">Customer stories</a>
			<a href="/fr/pricing">Offres</a>
		</div>

		<div class="bloc bloc-resources">
			<div class="title">Ressources</div>
			<a href="https://www.notion.so/Draft-s-Help-Center-cc9934be1af04688954d1d077ad004aa"
				target="_blank">Centre d'aide</a>
			<a href="https://draft.io/assets/2020 10 27 Terms and conditions - Draft SAS.pdf"
				target="_blank">Termes</a>
			<a href="https://draft.io/assets/2020 10 27 Privacy Policy - Draft SAS.pdf" target="_blank">Sécurité et confidentialité</a>
			<a href="mailto:hi@draft.io">Contactez-nous</a>

			<div class="language-bloc">
				<div class="bloc-title">Langue</div>
				<div class="menu-wrapper">
					<div class="toggle-wrapper">
						<div class="toggle">Française</div>
						<div class="dropdown-invite"></div>
					</div>
					<div class="menu">
						<a
							href="<%= @fr_url %>">Français</a>
						<a
							href="<%= @en_url %>">English</a>
					</div>
				</div>
			</div>
		</div>

		<div class="socials">
			<a href="/" class="logo"></a>
			<a href="https://linkedin.com/company/draft-io" class="linkedin" target="_blank"></a>
		</div>
	</div>


	<div class="oblique">
		<div class="rotated-square"></div>
	</div>
</div>

<script src="https://kit.fontawesome.com/6b4515f4ac.js" crossorigin="anonymous"></script>
		</body>
	</html>
